
{{input class="title" type='text' value=model.title}}
{{input class="body" type='text' value=model.body}}
{{input class="date" type="date" value=model.date}}
<button {{action "addReminder" model}} class="save">Save</button>


<!-- {{outlet}} -->


<!-- value = model.title-->
<!-- make a model  -->
<!-- pass model into submitIdea -->
<!-- tie value typed in to model, send to action on click -->
<!-- do some shit in route to create and save the thing -->